
    
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Style the header */
    header {
      background-color: #666;
      padding: 20px;
      text-align: center;
      font-size: 35px;
      color: white;
    }
    
    /* Create two columns/boxes that floats next to each other */
    nav {
      float: left;
      width: 30%;
      height: auto; /* only for demonstration, should be removed */
      background: #ccc;
      padding: 20px;
    }
    
    /* Style the list inside the menu */
    nav ul {
      list-style-type: none;
      padding: 0;
    }
    
    article {
      float: left;
      padding: 10px;
      width: 70%;
      background-color: #f1f1f1;
      /* height: 500px; /* only for demonstration, should be removed */
    } */
    
    /* Clear floats after the columns */
    section:after {
      content: "";
      display: table;
      clear: both;
    }
    
    

#intro {
    color: green;;
    border: 1px solid red;
}
#intro-tex{
    border: red 1px solid;
}
.art {
    text-align: left;
}

@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
    header{
        background-color:lightblue;
        color: mediumblue;

    }
  }    